a:link, a:visited{
    color: black;
}

a:hover{
    font-style: italic;
}

h1{
    font-family: 'Nunito', sans-serif;
}

.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
  }

  
.carousel-caption, h2, h5{
    font-size:  calc(15px + 0.5vw);
}