* {
    box-sizing: border-box;
}

header {
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 0;
    align-items: center;
}

nav{
    background-color: rgb(231, 230, 230);
    padding: 5px;
}

nav li {
    color: rgb(0, 5, 20);
    display: inline;
    padding-right: 2rem;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 700px;
  }

h1{
    font-family: "Nunito", sans-serif;
    position: absolute;
    top: 6.00em;
    left: 13.20em;
    border: solid;
    color: white;
    border-radius: 10px;
    padding: 6px;
    font-size: 4vw;
    margin: 0 auto;
    width: fit-content;
}

p{
    font-family: "Nunito", sans-serif;
    font-size: calc(15px + 0.5vw);
    position: relative;
    text-align: center;
    padding: 20px;
}

#back{
    font-family: "Nunito", sans-serif;
    font-size: calc(20px + 0.5vw);
    position: relative;
    text-align: center;
}

.thankyou{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.thankyou img{
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    display: block;
    padding: 5px;
    margin: 5px;  
}

.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 10px;
    position: relative;
}

body{
    background-color: #EEE;
}

a:link{
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: rgb(87, 87, 87);
}

a:visited{
    text-decoration: none;
    color: rgb(51, 51, 51);
}

a:active {
    text-decoration: underline;
  }  

@media (max-width: 800px){

  h1{
    top: 8.00em;
    left: 12.50em;
 
}

  }

@media (max-width: 430px){
    h1{
        display: none;
    }
    p{
        text-align: left;
    }

    .thankyou{
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .logo img{
        width: 60%;
    }
  }